/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-title: #ffffff;
    --color-primary--100: #BABABA;
    --color-primary--200: #8D8D8D;
    --color-primary--300: #5F5F5F;
    --color-primary--400: #3C3C3C;
    --color-primary--500: #1A1A1A;
    --color-primary--600: #171717;
    --color-primary--700: #131313;
    --color-primary--800: #0F0F0F;
    --color-primary--900: #080808;
}